#nav1{
    margin-top: -10px;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
ul,li{
    list-style-type: none;
}
footer{
    display: inline-flex;
    margin-top: 10px;
    justify-content:space-evenly;
    padding-top: 13px;
}